* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}

.gallery img {
    width: 100%;
    max-height: 250px;
}