@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 :root {
    --col-1: #f4f4f4;
    --col-2: #f0a500;
    --col-3: #cf7500;
    --col-4: #000000;
}

body,
input,
input::placeholder {
    font-size: calc(8px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
    color: var(--col-3);
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "box1 box1" "box2 box3" "box4 box4";
}

@media (max-width: 800px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "box1 box1" "box2 box3" "box4 box4";
    }
}

@media (max-width: 500px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "box1" "box2" "box3" "box4";
    }
    body,
    input,
    input::placeholder {
        font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
        line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
        color: var(--col-3);
    }
}

header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    background-image: url(https://images.unsplash.com/photo-1584225064536-d0fbc0a10f18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80);
    background-size: cover;
    background-position: center;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    padding: 0.75em;
    text-decoration: none;
    color: var(--col-4);
    text-shadow: 0.05em 0.05em var(--col-1);
    font-weight: bolder;
    border-radius: 0.5em;
}

li a:hover {
    background-color: rgba(240, 165, 0, 0.5)
}

.img-logo {
    border-radius: 50%;
    height: 5em;
    margin: 0.2em;
}

body {
    background-color: rgb(20, 20, 20);
}

.box1 {
    display: flex;
    padding: 6em 1em 1em 1em;
    grid-area: box1;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.box2 {
    display: flex;
    padding: 6em 1em 1em 1em;
    grid-area: box2;
    flex-direction: column;
    justify-content: start;
    text-align: center;
}

.box3 {
    display: flex;
    padding: 6em 1em 1em 1em;
    flex-wrap: wrap;
    grid-area: box3;
    justify-content: space-evenly;
    text-align: center;
}

.box4 {
    display: flex;
    padding: 6em 1em 1em 1em;
    grid-area: box4;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

footer {
    display: block;
    text-align: center;
    height: 1em;
}

.polaroid {
    width: 80%;
    background-color: rgba(240, 165, 0, 0.1);
    box-shadow: 0 4px 8px 0 rgba(244, 244, 244, 0.2), 0 6px 20px 0 rgba(207, 117, 0, 0.2);
    margin: 1em 1em;
    padding: 1em 1em;
    border-radius: 1.5em;
    min-width: 12em;
    max-width: 15em;
}

.img {
    width: 50%;
}

.container {
    text-align: center;
}

.button {
    background-color: var(--col-3);
    border: none;
    color: var(--col-4);
    padding: 4px 8px;
    height: 2em;
    width: 8em;
    font-size: 0.8em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1em 0em;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(244, 244, 244, 0.2), 0 6px 20px 0 rgba(207, 117, 0, 0.2);
}

.button1 {
    background-color: var(--col-2);
    color: var(--col-4);
    border: 1px solid #99b898;
}

.button1:hover {
    background-color: var(--col-3);
    color: var(--col-4);
}

h1,
h2,
h3,
label,
input,
legend {
    display: block;
    width: 100%;
    font-family: 'Gochi Hand', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: var(--col-3);
    text-shadow: 0.03em 0.03em #f4f4f4;
    margin: 0.6em 0em;
}

h1 {
    letter-spacing: 0.3em;
    font-size: 2em;
}

.video {
    margin: 1em;
    width: 15em;
    height: 12em;
}

input::placeholder {
    text-align: center;
    background-color: white;
    border: none;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: lowercase;
    color: var(--col-4);
    text-emphasis: none;
}

fieldset {
    padding: 0.5em 2em;
    border-color: var(--col-2);
    border-radius: 2em;
    margin-top: 1em;
}

p {
    margin-bottom: 2em;
}